.fright
{
    position: absolute;
    right: 0px;
    width:300px;
    
}

#register,a
 {
     
     padding:35px 40px  20px 5px;
     text-decoration: none;
     float:right;
 }
 .center{
  display: block;
  margin-left: 600px;
 float: left;
  
 
}
.col{
    float: left;
    width: 20%;
    margin-left: 10px;
    padding-left: 10px;
  }
  
  .rowo::after {
    content: "";
    clear: both;
    display: table;
  }
  figcaption
  {
      font-size:20px;
      padding-top:40px;
      padding-bottom: 200px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .footer pre{
    font-size: 15px;
    
  }
 


 
 
.leftimg{
  position: absolute;
  left: 100px;
  width: 300px;
  
  
}
.rightt
{
    position: absolute;
    right: 100px;
    width:600px;
    
}

.leftt{
    width:600px;
    left:110px;
    position: absolute;

}
.rightimg
{
    position: absolute;
    right: 500px;
    width:300px;
    height:1000px;
    
}

.centere{
    display: block;
    margin-left: 200px;
    
   
  }
  
  .footer
  {
    column-count: 5;
    column-rule-style:solid;
    column-rule-color:darkgrey;
  }
  .footer h3{
    font-size:20px;
  }
  .cent{
    display: block;
    margin-left: 400px;
   float: left;
    
   
  }
  .about {
    /* The image used */
    background-image: url("photographer.jpg");
    
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    
    /* Full height */
    height: 300%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text
  {
    
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center
  }
  .box
  {
    display: inline-block;
      position: absolute;
      top: 700px;
      left: 150px;
      background-color:white;
      color: black;
      padding:30px 0px 30px 30px;
      border-radius:10px;
  }
  button
  {
    
      
      color:white;
      background-color:royalblue;
      border-color: royalblue;
      margin: 0px 00px;
      margin-bottom: 0px;
      cursor: pointer;
      border-radius:15px;
      padding: 8px 10px 8px 10px;
      float:left;
  
  }
  .chota
  {
    position:relative;
    margin-left: 70px;
    margin-bottom: 0px;
   float:right;
  }
.beta
{margin-left: 0px;
  margin-top: 60px;
  float: left;
}  
.box1
  {
    display: inline-block;
      position: absolute;
      top: 700px;
      left: 625px;
      background-color:white;
      color: black;
      padding:30px 0px 30px 30px;
      border-radius:10px;
  }
.box2
  {
    display: inline-block;
      position: absolute;
      top: 700px;
      left: 1100px;
      background-color:white;
      color: black;
      padding:30px 0px 30px 30px;
      border-radius:10px;
  }
  .box3
  {
    display: inline-block;
      position: absolute;
      top: 1000px;
      left: 300px;
      background-color:white;
      color: black;
      padding:30px 0px 30px 30px;
      border-radius:10px;
  }
  .box4
  {
    display: inline-block;
      position: absolute;
      top: 1000px;
      left: 825px;
      background-color:white;
      color: black;
      padding:30px 0px 30px 30px;
      border-radius:10px;
  } 
  .text1{ 
  color: white;
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  
  }
  .box:hover,.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover{
    background-color: #6b2daa;
    color:white;
  }
  button:hover{
    color:black;
      background-color:white;
      border-color: white;
  }
  .chota:hover{
    opacity: 1;
  }